__pycache__/
env/
log/
log-*/
*.p
*.png
plots/
data/
data_LRP/
runs/
tmp/
/.empty/
results/
*.sw?
orca/
orca-py/
core
ckpt/
test/
*/workload/
*_groundtruth.csv
*.csv
*.jpg
*.pdf
*.pkl
*.pt
*.pk
*.ipynb
lightning_logs/
regular_*.txt
desco.egg-info/
orca/
.vscode/
experimental/gml/*
experimental/DualMessagePassing/*
motivo_result/

!github_resource/*
