__pycache__/
env/
log/
log-*/
*.p
*.png
plots/
data/
runs/
tmp/
/.empty/
results/
*.sw?
orca/
core
ckpt/
test/
*/workload/
*_groundtruth.csv
*.csv
*.jpg
*.pdf
*.pkl
*.pt
*.pk
*.ipynb
lightning_logs/
regular_*.txt
desco.egg-info/
orca-py/
orca/



!github_resource/*