__pycache__/
env/
log/
log-*/
*.p
*.png
plots/
data/
runs/
/.empty/
results/
*.sw?
orca/
core
/ckpt/
/test/
*/workload/
*_groundtruth.csv
*.csv
*.jpg
*.pdf
*.pkl
*.pt
lightning_logs/
regular_*.txt
desco.egg-info/